# Python virtual environment
.venv/

# Node dependencies (ignore globally)
**/node_modules/

# Python compiled files and caches
__pycache__/
*.py[cod]

# Ignore all SQLite database files
ptsd_db.sqlite

# Ignore large model checkpoint files
checkpoints/
*.pth

# Ignore environment variables file
.env

# Ignore desktop.ini files
*.ini
