fastapi
uvicorn
pydantic
sqlalchemy
asyncpg
python-jose[cryptography]
python-multipart
requests
moviepy
opencv-python
mtcnn
tensorflow
numpy
matplotlib
torch
torchvision
transformers
Pillow
openai-whisper
